
body{
    max-width: 1400px;
    margin: auto;
    font-family: Festif;
}

/*header avec la nav bar*/


#lentete{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;

}


#logo{
    justify-content: start;
    padding-left: 40px;
}

.nom-nav:hover {
    border-top: 2px solid #0065FC;
    
    padding-top: 15px;
    width: 70px;
    justify-content: space-evenly;
}

#description-menu{
    color: #0065FC;
}

#navbar{
    margin-right: 40px;

}

#description-menu
{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: Raleway Arial, Helvetica, sans-serif;    
}

.nom-nav{
    padding-right: 40px;
    
    text-decoration: none;
}

a{
    text-decoration: none;
    color:  #0065FC;
}

/*  section 1 trouver votre hébergement pour des vacances de rêve */



#location{
    margin-top: 2px;
    padding-left: 48px;
}

#hebergement{
    position: relative;
}

#h1-section1
{
    /*font-family: Raleway Arial, Helvetica, sans-serif;*/
    font-family: 'Raleway', sans-serif;
    justify-content: start;
    padding: 10px 0px 0px 40px;
    margin-bottom: 5px;
}

p
{
    font-family: Raleway Arial, Helvetica, sans-serif;
    justify-content: start;
    padding-left: 40px;
}

i{
    background: #F2F2F2;
    border-radius: 5px 0px 0px 5px;
}

#button-recherche{
    color: #fff;
    background-color: #0065FC;
    font-family: Raleway Arial, Helvetica, sans-serif;
    border-radius: 0px 10px 10px 0;
    padding: 9px 15px 7px 15px;
    border: 1px solid;
    margin-left: -4px;
}

#D1S1{
    justify-content: start;
    padding-left: 40px;
}

.villeicone{
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 12px 0 0 12px;
    margin-right: -0.3%;
}

#ville{
    font-weight: bold;
    padding: 9px 17px 7px 17px;
    border: 1px solid #F2F2F2; 
    margin-right: 0%;
}

/*----------- parti filtre de la section 1---------------*/



#filtre-general{
  display: flex;
  padding-left: 48px;
}



#Filtre-titre-h3{
    margin-top: 6px;
}

.nom-des-filtres{
    border: 3px solid #F2F2F2;
    border-radius: 16px;
    padding: 4px 20px 8px 50px;
    margin-top: 0px;
    margin-left: -47px;
}

#info{
    border: 1px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    display: inline-block;
    padding-left: 10px;
    margin-left: 45px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    padding-top: 6px;
    border-left-width: 2px;
    padding-right: 10px;
    padding-bottom: 6px;
    width: 2px;
    font-family: Raleway Arial, Helvetica, sans-serif;
}

#info-logement{
    display: inline-flex;
    padding-left: 10px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filtre{
    justify-content: center;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 50px 50px;
    background-color: #DEEBFF;
    padding: 10px 3px 25px 8px;
    color: #0065FC;
    height: 1px;
    width: 25px;
}




/*--------------------------Section 2---------------- */

.section2{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 60px;
   flex-wrap: wrap-reverse;
}

.S1S1{
    background-color:#F2F2F2 ;
    display: block;
    border-radius: 20px;
    height: 720px;
}

.ligne1-S1S1
{
    display:block
}

.h1-section2{
    display: inline;
    height: 20px;
    width: 398px;
    position: absolute;
    margin-left: 22px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.S2A1{
    margin-top: 100px;
}

.image-section2{
    height: 150px;
    width: 225px;
    border-radius: 20px 20px 0px 0;
    
}

.ligne1{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}

.ligne2{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    margin-top: 40px;
}

.S2A1{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    box-shadow: 0px 2px 13px -8px;
    height: 240px;
}

.S2A2{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 2px 13px -8px;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
}

.h2section2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-bottom: 0px;
}

.p-section2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 5px;
}

#h5section2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.annexe{
    background-color:#F2F2F2 ;
    display: block;
    border-radius: 20px;
    justify-content: center;
    height: 720px;
    
}

.image2-section2{
    height: 160px;
    width: 170px;
    border-radius: 20px 0px 0px 20px;
    margin-top: 1px;
    justify-content: flex-start;    
    margin-right: 23px;
}

.S2-annexe{
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    height: 162px;
    justify-content: space-evenly;
    margin: 100px 20px 0px 20px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 2px 13px -8px;
}

.annexe2{
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    height: 162px;
    justify-content: space-evenly;
    margin: 30px 20px 0px 20px; 
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    box-shadow: 0px 2px 13px -8px;
}

.text-annexe-h2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    display: block;
    display: inline;
    padding-left: 3px;
    padding-top: 5px;
}

.text-annexe-h4{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
    display: block;
    display: inline;
    padding-left: 3px;
}

.div-annexe{
    display: inline;
}

.star{
    display: flex;
    margin-left: 7px;
    width: 94px;
    height: 16px;
}

.fas{
    color: #0065FC;
    margin-bottom: 5px;
}

.fa-star:hover{
    color: #F2F2F2;
}

.fa-chart-line{
    color: black;
    margin-left: 126px;
}


/* -------------------SECTION 3------------------------ */

.section3{
    display: bloc;
    margin-top: 18px;
    margin-right: 70px;
    height: 540px;
}

.activité-a-marseille{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    
}

.titre-section-3{
    font-family: Raleway Arial, Helvetica, sans-serif;
    display: inline;
    height: 20px;
    width: 300px;
    margin-left: 53px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.titresection3{
    display: flex;
}

.grande-image-S3{
    height: 428px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;
}

.petite-image-S3{
    height: 180px;
    width: 276px;
    border-radius: 20px 20px 0 0;
}

.S3D3{
    width: 250px;
    height: 355px;
    justify-content: space-between;
    margin-right: 50px;
}    

.article-S3D1{
    display: block;
    box-shadow: 0px 2px 13px -8px;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid px;
    height: 481px;
    width: 300px;
    justify-content: center;
    margin-left: 68px;
}

.article-S3D2{
    display: block;
    box-shadow: 0px 2px 13px -8px;
    background-color: #fff;
    border-radius: 20px;
    height: 226px;
    width: 276px;
    justify-content: center;
    margin-left: 50px;
    
}

.article-S3D22{
    margin-top: 30px;
}

.h2section3{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 10px;
}

#last-div-section3{
    margin-left: 50px;
}

/*-------------------------Footer----------------------*/

.pied-de-page{
    position:absolute;
    left:0%;
    display: flex;
    background-color:#F2F2F2 ;
    width: 100%;
    justify-content: flex-start;
    margin-top: 65px;
    margin-bottom: 0;
}

.div-pied-de-page{
    display: flex;
}

.pdp1{
    justify-content: flex-start;
    margin-left: 123px;
    margin-right: 215px;

}

body, .section3, .pied-de-page, .pdp1, p{
    padding-left: 0px;
   
}

.pdp2{
    justify-content: flex-start;
    margin-left: 10px;
    
}

.pdp3{
    justify-content: flex-start;
    margin-left: 235px;
}

/*-------------------RESPONSIVE-------------------------*/

/*---------point de rupture (max-width: 1370px)-------*/

@media screen and ( max-width: 1370px ){
.annexe{
    margin-bottom: 41px;
    }    
} 

@media screen and ( max-width: 1370px ){
    .activité-a-marseille{
        margin-top: 15px;
        flex-wrap: wrap;
    }    
} 

@media screen and ( max-width: 1370px ){
    .footer{
        position: relative;
        display: block; 
        bottom: 0;  
    }  
    
    .div-pied-de-page{
        display: flex;
        flex-wrap: wrap;
        position: normal;
    }

    #filtre-general{
        flex-wrap: wrap;
    }    

} 