
body{
    max-width: 1400px;
    margin: auto;
    font-family: Festif, Raleway, Arial, Helvetica, sans-serif; 
}

/*header avec la nav bar*/

#Menu{
    display: flex;
    justify-content: space-between;
}

#lentete{
    display: flex;
    margin-top: 10px;
    display: inline-block;
}

#logo{
    justify-content: start;
    padding-left: 40px;
    margin-right: 65%;
}

ul li{
    list-style-type: none;
}

.a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 15px;
    width: 70px;
    justify-content: space-evenly;
}

#description-menu{
    color: #141414;
}

#navbar{
    margin-right: 40px;
    display: flex;
    margin-top: 13px;
}

#description-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: "Raleway", "Arial", "Helvetica", "sans-serif";    
}

.a{
    text-decoration: none;
    color: black;
    padding-right: 50px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.sinscrire{
    text-decoration: none;
    color: #0065FC;
    padding-right: 50px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#choix-menu{
    display: flex;
    display:inline-block;
}

#choix-menu2{
    display: flex;  
}

/*  section 1 trouver votre hébergement pour des vacances de rêve */

#location{
    margin-top: 2px;
    padding-left: 48px;
}

#h1-section1
{
    /*font-family: Raleway Arial, Helvetica, sans-serif;*/
    font-family: 'Raleway', sans-serif;
    justify-content: start;
    padding: 10px 0px 0px 40px;
    margin-bottom: 5px;
}

p
{
    font-family: Raleway Arial, Helvetica, sans-serif;
    justify-content: start;
    padding-left: 40px;
}

i{
    background: #F2F2F2;
    border-radius: 5px 0px 0px 5px;
}

.button-recherche{
    color: #fff;
    background-color: #0065FC;
    font-family: Raleway Arial, Helvetica, sans-serif;
    border-radius: 0px 10px 10px 0;
    padding: 9px 15px 7px 15px;
    border: 1px solid;
    margin-left: -4px;
}

#D1S1{
    justify-content: start;
    padding-left: 40px;
}

#D11S1{
    justify-content: start;
    padding-left: 40px;
    display: none;
}

.villeicone{
    background-color: #F2F2F2;
    color: black;
    padding: 10px;
    border-radius: 12px 0 0 12px;
    margin-right: -0.3%;
}

#D1S1 .villeicone{
    color: black;
}

.ville{
    font-weight: bold;
    padding: 9px 17px 7px 17px;
    border: 1px solid #F2F2F2; 
    margin-right: 0%;
}

#Menu-mobile{
    display: none;
}

/*----------- parti filtre de la section 1---------------*/

#filtre-general{
  flex-wrap: wrap;
}

.filtre-generals{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-weight: bold;
}

.hover1:hover, .hover2:hover, .hover3:hover, .hover4:hover{
    background: #0065FC;
    opacity: 0.3;
}

#Filtre-titre-h3{
    margin-top: 6px;
    margin-left: 30px;
}

.nom-des-filtres{
    border: 3px solid #F2F2F2;
    border-radius: 16px;
    padding: 4px 20px 8px 50px;
    margin-top: 0px;
    margin-left: -47px;
    white-space: nowrap;
}

#info{
    border: 1px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    display: inline-block;
    margin-left: 45px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    padding-left: 6px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    width: 2px;
    font-family: Raleway Arial, Helvetica, sans-serif;
}

#info-logement{
    display: inline-flex;
    padding-left: 10px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filtre{
    justify-content: center;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 50px 50px;
    background-color: #DEEBFF;
    padding: 10px 3px 25px 8px;
    color: #0065FC;
    height: 1px;
    width: 25px;
}

#h3-filtre{
    display: flex;
}

#ensemble-des-filtres{
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------Section 2---------------- */

.lien-image{
    text-decoration: none;
    color: black;
}

.section2{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 63px;
   flex-wrap: wrap-reverse; 
}

.S1S1{
    background-color:#F2F2F2 ;
    display: block;
    border-radius: 20px;
    height: 720px;
}

.ligne1-S1S1{
    display:block
}

.h1-section2{
    display: inline;
    height: 20px;
    width: 398px;
    position: absolute;
    margin-left: 22px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.h1-section22{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 33px;
}

.S2A1{
    margin-top: 100px;
    margin-top: 44px;
}

.image-section2{
    object-fit: cover;
    height: 150px;
    width: 225px;
    border-radius: 20px 20px 0px 0;  
}

.image2-section2-2{
    object-fit: cover;
    height: 160px;
    width: 170px;
    border-radius: 20px 0px 0px 20px;
    margin-top: 1px;
    justify-content: flex-start;
    margin-right: 23px; 
}

.ligne1{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}

.ligne2{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    margin-top: 40px;
}

.S2A1{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    box-shadow: 0px 2px 13px -8px;
    height: 240px;
    margin-top: 50px;
}

.S2A2{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 2px 13px -8px;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
}

.h2section2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 3px;
    margin-bottom: 0px;
}

.p-section2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 2px;
    padding-left: 3px;
    margin-bottom: 5px;
}

#h5section2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.annexe{
    background-color:#F2F2F2 ;
    display: block;
    border-radius: 20px;
    justify-content: center;
    height: 720px; 
}

.image2-section2{
    object-fit: cover;
    width: 170px;
    border-radius: 20px 0px 0px 20px;
    margin-top: 1px;
    justify-content: flex-start;    
    margin-right: 23px;
}

.S2-annexe{
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    height: 162px;
    justify-content: space-evenly;
    margin: 110px 20px 0px 20px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 2px 13px -8px;
}

.annexe2{
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    height: 162px;
    justify-content: space-evenly;
    margin: 30px 20px 0px 20px; 
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid 5px;
    box-shadow: 0px 2px 13px -8px;
}

.text-annexe-h2{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    display: block;
    padding-left: 3px;
    padding-top: 5px;
    margin-bottom: 0%;
}

.text-annexe-h4{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
    display: block;
    display: inline;
    padding-left: 3px;
}

.div-annexe{
    display: inline;
}

.star{
    display: flex;
    margin-left: 2px;
    width: 94px;
    height: 16px;
    background: transparent;
}

.star-annexe{
    display: flex;
    margin-left: 2px;
    width: 94px;
    height: 16px;
    padding-top: 70px;
}

.fas{
    color: #0065FC;
    margin-bottom: 5px;
    
}

.fa-star:hover{
    color: #F2F2F2;   
}

.star, .star-white{
    color: #F2F2F2; 
}

.etoile-transparente{
    background: transparent;
}

.fa-chart-line{
    color: black;
    margin-left: 126px;
}

/* -------------------SECTION 3------------------------ */

#disparait{
    display: none;
}

.section3{
    display: flex;
    margin-top: 18px;
    margin-right: 0px;
    flex-wrap: wrap;  
    justify-content: center;
    justify-content: space-evenly;
}

.activité-a-marseille{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}

.titre-section-3{
    font-family: Raleway Arial, Helvetica, sans-serif;
    margin-left: 53px;
    font-family: Raleway Arial, Helvetica, sans-serif;
    width: 398px;
    white-space: nowrap;
}

.grande-image-S3{
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;
}

.petite-image-S3{
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: 50% 46%;
}

.S3D3{
    width: 250px;
    height: 355px;
    justify-content: space-between;
    margin-right: 50px;
}    

.article-S3D1{
    display: block;
    box-shadow: 0px 2px 13px -8px;
    background-color: #fff;
    border-radius: 20px;
    border: #fff solid;
    height: 481px;
    width: 300px;
    justify-content: center;
}

.article-S3D2{
    display: block;
    box-shadow: 0px 2px 13px -8px;
    background-color: #fff;
    border-radius: 20px;
    height: 226px;
    width: 276px;
    justify-content: center;
    margin-left: 50px;
}

.article-S3D22{
    margin-top: 30px;
}

.h2section3{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 10px;
}

.bloc1-S3{
    display: flex; 
    justify-content: center;  
    height: 530px;
    width: 650px;
}

.bloc2-S3{
    display: flex;
    justify-content: center;
    width: 600px;
    justify-content: space-between;
}

/*-------------------------Footer----------------------*/

.pied-de-page{
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
    margin-top: 60px;
}

.div-pied-de-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pdp1{
    justify-content: flex-start;
    margin-left: 123px;
    margin-right: 123px;
    white-space: nowrap;

}

body, .section3, .pied-de-page, .pdp1, p{
    padding-left: 0px;
}

.pdp2{
    justify-content: flex-start;
    margin-left: 0px;
    white-space: nowrap;
}

.pdp3{
    justify-content: flex-start;
    margin-left: 123px;
    white-space: nowrap;
}

/*-------------------RESPONSIVE-------------------------*/

/*---------    point de rupture    -----------*/

@media screen and (max-width: 1338px){
    .annexe{
        margin-bottom: 41px;
         }   
        } 
        
@media screen and (max-width: 800px){

    body{
        margin: 0;
        width: 100%;
    }

/*--------NAV BAR responsive mobile--------*/ 

    #Menu{
        display: none;
    }

    #Menu-mobile{
        display: block;
    }

    #lentete-mobile{
        display: flex;
        justify-content: space-between;
    }

    #choix-menu2{
        display: flex;
        justify-content: space-evenly;
        border-bottom: #F2F2F2 3px solid;
    }

    #sinscrire{
        margin-top: 2px;
    }

    #inscription{
        margin-top: 13px;
    }

    #logo-mobile{
        margin-left: 25px;
        margin-top: 5px;
    }

/*---section hebergement responsive mobile----*/
    
    #info{
        margin-left: 10px;
    }

    #information{
        display: flex;
        margin-bottom: 30px;
    }

    #info-logement{
        padding-top: 0px;
        margin-top: 19px;
    }

    #D1S1{
        padding-left: 20px;
        justify-content: center;
        display: none;
    }

    #D11S1{
        justify-content: start;
        padding-left: 40px;
        display: flex;
    }

    #button-recherche{
        padding: 10px 15px 10px 12px;
        border-radius: 10px 10px 10px 10px;
    }

    #button-recherche,.loop{
        background-color: #0065FC;
        color: white;
    }

    .ville{
        padding: 9px 8px 7px 17px;
    }

    .villeicone{
        margin-bottom: 0px;
        color: black;
    }
    
    #h1-section1 {        
        padding: 10px 0px 0px 15px;
    }

    #location {
        padding-left: 15px;
    }

    .a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding-top: 15px;
        padding-bottom: 16px;
        width: 100%;
    }

/*--------------section 2 responsive -----------*/
    .annexe{
        margin-bottom: 41px;
        width: 100%;
        border-radius: 0px;
    }

    .star-annexe{
        padding-top: 50px;
    }

    .S1S1{
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    .S2A1{
        margin-top: 15px;
        
    }

    .S2A2{
        margin-top: 15px;
    }

    .image-section2{
        width: 100%;
    }
    
    .ligne1{
        display: block;
    }

    .ligne2{
        display: block;
        margin-top: 20px;
    }

    .h1-section2{
        position: absolute;
        width: 70%;
        display: flex;
        white-space: nowrap;
    }

    .h1-section22{
    
        position: relative;
        margin-left: 10px;
    }

    .fa-chart-line {
        color: black;
        margin-left: 15%;
    }

/*----------section 3 responsive mobile --------*/
    
    .titre-section-3{
        margin-left: 5%;
        width: 0;
    }    

    .bloc1-S3{
        display: block;  
    }
    
    .bloc2-S3{
        display: block;
        margin-top: 50px;
    }

    .activité-a-marseille{
        display: block;  
    }

    .grande-image-S3 {
        object-fit: cover;
        height: 75%;
        width: 100%;
    }

    .article-S3D1{
        width: 96%;
        margin: auto;
        justify-content: center;
        height: 162px;
        margin-bottom: 30px;
    }

    .petite-image-S3{
        object-fit: cover;
        height: 75%;
        width: 100%;
    }

    .article-S3D2{ 
        width: 96%;
        margin: auto;
        justify-content: center;
        height: 162px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .S3D3{
    width: 100%;
    height: 162px;
    margin-right: 0px;
    }

/*-------------pied de page responsive----------*/

    .div-pied-de-page{
        display: block;
    }

    .pdp1{
        margin-left: 10%;
    }

    .pdp2{
        margin-left: 10%;
        margin-top: 40px;
    }

    .pdp3{
        margin-left: 10%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
} 


